/*Styling for all pages*/

.navigation{

            }
.main{
        width:100%;
	
        color: white;
		font-size:xx-large;
        text-align:center;
		 background-color: rgba(0,0,0,0.5);  
      }
h1{
   

}

body{
   
    background-size:cover;
}
.profimage{
    float:left; 
    width: 500px;
    margin-left: 20%;
}
.image{
    width: 150 px;
    margin: 20%; 

    }
.details{
    width: 80%;
    min-width: 320px;
  	margin-left: auto;
	margin-right:auto;
    background-color: rgba(0,0,0,0.5);	
    color:white;
    font-size:xx-large;
    font-style: normal;
	font-family:Arial, Helvetica, sans-serif;
	border-style:double;
	border-color:#FFF;
	border-radius:20px;
	border-width:thick;
				
    }
.buttons{
                width: 50px;
                height: 20px;
                color: black;
                border-radius: 10px;
            }
.container{
    background-image: "Assets/images/home.jpg";
    background-blend-mode: lighten;
    width: 100%;
	color:white;
}
a{
	color:white;
	text-decoration:none;
			
}
.todolistinfo{
	float: left;
    width: 40%;
    min-width: 300px;
    margin:4%;
    background-image: linear-gradient(yellow,orange);
    border-radius:20px;
    box-shadow: 10px;

}
@media only screen and (max-width: 1366px){

    .profimage{
        float:left; 
        width: 500px;
        margin-left: 20%;
    }
    .image{
        width: 150 px;
        margin: 20%; 

        }
    
    .buttons{
        width: 50px;
        height: 20px;
        color: black;
                    
    }
    .container{
        background-image: "Assets/images/home.jpg";
        background-blend-mode: lighten;
        width: 100%;
        color:white;
    }
    .enterdata{
                width:80%;
                margin-top:10%;
                
            }
            #heading{
                width:250px;
                color: white;
                margin-left:auto;
                margin-right:auto;
                font-size:large;
            }
            .info{
                width:90%;
                margin-top:10%;
            }
            .option{
                font-size: x-large;
                text-align: left;
                float:left;
                
            }
            .innercontainer{
                margin:10%;
            }
            

}

@media only screen and (max-width: 720px){
   
    .profimage{
        float:left; 
        width: 500px;
        margin-left: 20%;
    }
    .image{
        width: 150 px;
        margin: 20%; 

        }
    
    .buttons{
        width: 50px;
        height: 20px;
        color: black;
                    
    }
    .container{
        background-blend-mode: lighten;
        width: 100%;
        color:white;
    }
    .enterdata{
                width:80%;
                margin-top:10%;
                
            }
            #heading{
                width:250px;
                color: white;
                margin-left:auto;
                margin-right:auto;
                font-size:large;
            }
            .info{
                width:90%;
                margin-top:10%;
            }
            .option{
                font-size: x-large;
                text-align: left;
                float:left;
                
            }
            .innercontainer{
                margin:10%;
            }
            
}

@media only screen and  (max-width: 480px){
    
    .profimage{
        float:left; 
        width: 500px;
        margin-left: 20%;
    }
    .image{
        width: 150 px;
        margin: 20%; 

   }
    
    .buttons{
        width: 50px;
        height: 20px;
        color: black;
                    
    }
    .container{
        
        background-blend-mode: lighten;
        width: 100%;
        color:white;
    }
    .enterdata{
                width:80%;
                margin-top:10%;
                
            }
            #heading{
                width:250px;
                color: white;
                margin-left:auto;
                margin-right:auto;
                font-size:large;
            }
            .info{
                width:90%;
                margin-top:10%;
            }
            .option{
                font-size: x-large;
                text-align: left;
                float:left;
                
            }
            .innercontainer{
                margin:10%;
            }
            
}